.similar {
	margin: 25px 0px 51px 0px;
}

.similar__body {
	display: flex;
	flex-direction: column;
}

.similar__title {
	text-align: center;
	border-radius: 6px;
	margin: 0px 0px 18px 0px;
	transition: 0.5s ease;
	background: #503449;
	padding: 19px 0px;
	> h3 {
		@include style__text(21px, $white, $font-main);
	}
}

[class*="__container"]{
	max-width: 1210px;
	margin: 0 auto;
	padding: 0px 15px;
}
@include mediaTablet() {
	.similar__title {
		left: 0;
		> h3 {
			@include style__text(16px, $white, $font-main);
		}
	}
	[class*="__container"]{
		max-width: 1210px;
		margin: 0 auto;
		padding: 0px;
	}
}
.similar__title:hover {
	opacity: 0.5;
}

.similar__content {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

@media (max-width: 1299.9px) {
	.similar__content {
		justify-content: center;
	}
}

.similar__card {
	max-width: 380px;
	display: flex;
	gap: 12px;
}
.card {
	background: #392534;
	border-radius: 10px;
	padding: 16px;
	transition: 0.5s ease;
}

.card:hover {
	transform: scale(1.09);
}
.card__img {
}
.card__info {
}
.card__title {
	margin: 0px 0px 4px 0px;
	> h4 {
		@include style__text(18px, $white, $font-main);
		font-weight: 500;
	}
}
.card__subtitle {
	margin: 0px 0px 41.5px 0px;
	> p {
		@include style__text(16px, $text, $font-main);
		line-height: 130%;
	}
}
.card__description {
	display: flex;
	justify-content: space-around;
}
.card__score {
	display: flex;
}
.attachment__premier {
}
.attachment__age {
}
@include mediaPhone() {
	.similar__title{
		background: none;
		text-align: left;
		> h3{
		font-size: 24px;
		}
	}
	.similar {
		padding: 0px 15px;
		margin: 0px 0px 51px 0px;
	}

}
